
@media only screen and (max-width:1042px) {



.container {
display : grid;
grid-template-columns : 1fr 1fr;
grid-template-areas : 'a b';
grid-gap : 10px;
padding-top: 1rem; 
}
.logo {
grid-area : a;
margin-left : 1rem;
}
.logohide {
	display: inline-block;
	color:#fff;
	padding-left:1rem;
}
.navbar {
display : none;
}
.hide {
display : inline-grid;
grid-area : b;
margin-left : auto;
padding-right : 30px;
align-items : center;
font-size : 35px;
color: #403d5a;
cursor: pointer;
}
.hide span:hover {
color: rgba(64, 61, 90, 0.88);
transition : all 0.5s;
}
.sidenav {
height : 100%;
width : 0;
position : fixed;
z-index : 2;
top : 0;
right : 0;
background-color : #111;
overflow-x : hidden;
padding-top : 15px;
/*transition : 0.3s;*/
}
.sidenav a {
padding : 25px 8px 8px 32px;
text-decoration : none;
text-align : center;
font-size : 18px;
color : #818181;
display : block;
transition : 0.3s;
}
.sidenav a:hover {
color : #f1f1f1;
}
.sidenav .closebtn {
position : absolute;
top : 0;
right : 25px;
font-size : 36px;
margin-left : 50px;
}
.sidenav .btn-client {
	width:50%;
	margin:auto;
	margin-top: 5px;
	border-radius : 5px;
	border:1px solid #562fc9;
	padding : 10px 15px;
	font-size : 15px;
	text-decoration : none;
	color : #562fc9;
}
.sidenav .btn-client:hover {
background-color : #6544c7;
color : #fff;
transition : all 0.5s;
}

.features {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: repeat(3, 1fr);
	margin:0 5rem;
	justify-content: center;
	grid-template-areas: "featureleft featuremiddle" "featureright featureleft-two" "featuremiddle-two featureright-two";
	}


.plans {
	display:grid;
	grid-template-columns: 1fr;
	grid-template-areas: "plans-one" "plans-two" "plans-three";
	margin:0 5rem;
	grid-gap: 2.5rem;
	
}


.plans-one {
	grid-area: plans-one;
	margin: auto

}
.plans-two {
	grid-area: plans-two;
	margin:auto;
	
}
.plans-three {
	grid-area: plans-three;
	margin:auto;
	
}

.box-plan p {
	display: inline-block;
	width:auto;
	height: 25px;
}

.tag {
	display: block;
	position: relative;
	color: #fff;
	padding:2px 8px;
	font-size: 10px;
	margin-top: -42px;
	background-color: #4d63d5;
	border-radius: 15px;
	text-transform: uppercase;
	z-index: 1;
}



.pricebox {
	display:grid;
	grid-template-columns: 1fr;
	grid-template-areas: "pricebox-one" "pricebox-two" "pricebox-three";
	margin:0 2rem;
	grid-gap: 5rem;
	font-family: 'Ubuntu', sans-serif;
}

.pricebox-one {
	grid-area: pricebox-one;
	margin:auto;
	border:1px solid blue;
}
.pricebox-two {
	grid-area: pricebox-two;
	margin:auto;
	
}
.pricebox-three {
	grid-area: pricebox-three;
	margin:auto;
	
}

.grow {

	-webkit-transform: scale(1.0);
  transform: scale(1.0);
}

.grow:hover, .grow:focus, .grow:active {

	-webkit-transform: scale(1.1);
  transform: scale(1.1);
}


.testim .wrap { 
    margin-top: 10rem;   

}

}



@media only screen and (max-width:800px) {
.hero {
	background-image : url(img/bg-mobile.jpg);
background-size : cover;
background-attachment: scroll;
background-size: cover;
background-repeat: no-repeat;
background-position:top right;
opacity : 0.699999988079071044921875;
height: 100vh;
}


.hero-content{
margin: auto;
text-align: center;
height : 100vh;
}
.title-content {
width:100%;
margin: 0;
font-weight : 400;
}
.container {
display : grid;
grid-template-columns : 1fr 1fr;
grid-template-areas : 'a b';
padding-top: 1rem; 
}
.logo {
grid-area : a;
margin-left : 1rem;
}
.logohide {
	display: inline-block;
	color:#fff;
	padding-left:1rem;
}
.navbar {
display : none;
}
.hide {
display : inline-grid;
grid-area : b;
margin-left : auto;
padding-right : 30px;
align-items : center;
font-size : 35px;
color: #fff;
cursor: pointer;
}
.hide i{
color: #fff;	
}
.hide span:hover {
color: #f5f5f5;
transition : all 0.5s;
}
.sidenav {
height : 100%;
width : 0;
position : fixed;
z-index : 2;
top : 0;
right : 0;
background-color : #111;
overflow-x : hidden;
padding-top : 15px;
transition : 1.0s;
}
.sidenav a {
padding : 25px 8px 8px 32px;
text-decoration : none;
text-align : center;
font-size : 18px;
color : #818181;
display : block;
transition : 0.3s;
}
.sidenav a:hover {
color : #f1f1f1;
}
.sidenav .closebtn {
position : absolute;
top : 0;
right : 25px;
font-size : 36px;
margin-left : 50px;
}
.title {
font-size : 2em;
color : #fff;
}
.subtitle {
font-size : 1em;
color : #fff;
}
.title-content {
	color : #fff;
font-size : 1em;
}

.wrapper {
	text-align: center;
padding: 4rem 0;
}

.features {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(6, 1fr) ;
	margin:0 5rem;
	grid-gap: 20px;
	justify-content: center;
	grid-template-areas: "featureleft" "featuremiddle" "featureright"
	"featureleft-two" "featuremiddle-two" "featureright-two";
	}

	.sidenav .btn-client {
	width:50%;
	margin:auto;
	margin-top: 5px;
	border-radius : 5px;
	border:1px solid #562fc9;
	padding : 10px 15px;
	font-size : 15px;
	text-decoration : none;
	color : #562fc9;
}
.sidenav .btn-client:hover {
background-color : #6544c7;
color : #fff;
transition : all 0.5s;
}

}

